<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>121115670217-1hpnqpt82k6tfb5kip6e8f9c19muissf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.121115670217-1hpnqpt82k6tfb5kip6e8f9c19muissf</string>
	<key>API_KEY</key>
	<string>AIzaSyDXDBa5UYca4iNlByC_KRtv5vvgaGJaUE0</string>
	<key>GCM_SENDER_ID</key>
	<string>121115670217</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Studio314.LaterGram</string>
	<key>PROJECT_ID</key>
	<string>latergram-969ef</string>
	<key>STORAGE_BUCKET</key>
	<string>latergram-969ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:121115670217:ios:7f68ba68e8a9f8aae2ff18</string>
</dict>
</plist>